.container {
  text-align: center;
}
.title {
  font: bold;
  font-size: 50px;
  align-items: center;
  margin-top: 100px;
  color: rgb(0, 21, 55);
}
.reset {
  padding: 5px;
  width: 250px;
  height: 80px;
  cursor: pointer;
  border-radius: 30px;
  background-color: hsl(219, 66%, 10%);
  color: hsl(188, 100%, 50%);
  margin-top: 25px;
  font-size: 35px;
  border: none;
  font: bold;
}
.reset:hover {
  background-color: hsl(219, 66%, 14%);
  color: hsl(188, 86%, 66%);
  font-size: 33px
}
