.container {
  text-align: center;
}
.title {
  font: bold;
  font-size: 50px;
  align-items: center;
  margin-top: 100px;
  color: rgb(0, 21, 55);
}
.reset {
  padding: 5px;
  width: 250px;
  height: 80px;
  cursor: pointer;
  border-radius: 30px;
  background-color: hsl(219, 66%, 10%);
  color: hsl(188, 100%, 50%);
  margin-top: 70px;
  font-size: 35px;
  border: none;
  font: bold;
}
.reset:hover {
  background-color: hsl(219, 66%, 14%);
  color: hsl(188, 86%, 66%);
  font-size: 33px
}
.board{
    height:350px;
    width: 350px;
    margin: auto;
    background-color: rgb(9, 2, 41);
    
}
.row1,
.row2,
.row3 {
  display: flex;
  justify-content: space-between;
  
}

.boxes {
  height: 100px;
  width: 100px;
  background-color:rgb(157, 255, 0) ;
  border-radius: 5px;
  margin: 8px;
}
